packaging_format = 2

id = "my_webdav"
name = "My Webdav"
description.en = "Configure your own Webdav server"
description.fr = "Configuration d'un serveur Webdav"

version = "1.2~ynh3"

maintainers = ["marc_flender"]

[upstream]
license = "GPL-3.0-only"
code = "https://github.com/YunoHost-Apps/my_webdav_ynh"

[integration]
yunohost = ">= 11.2.0"
architectures = "all"
multi_instance = false
ldap = false
sso = true
disk = "1M"
ram.build = "100K"
ram.runtime = "100K"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/my_webdav"

    #[install.init_main_permission]
    # installation obligatoire en privé pour all_users. Voir ci-dessous dans [resources.permissions]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    # This won't be saved as setting and will instead be used to initialize the SSOwat permission
    #type = "group"
    #default = "all_users"

[resources]

    [resources.data_dir]
    # ATTENTION: risque de dysfonctionnement si le répertoire temporaire n'a pa l'accès en "rwx"
    subdirs = ['tmp']
    owner = "www-data:rwx"
    group= "www-data:rwx"

    [resources.permissions]
    main.url = "/"
    main.allowed = "all_users"
	
