packaging_format = 2

id = "my_webdav"
name = "my_webdav"
description.en = "Configure your own Webdav server"
description.fr = "Configuration d'un serveur Webdav"

version = "1.2~ynh1"


maintainers = ["marc_flender"]

[upstream]
license = "GPL-3.0-only"
code = "https://github.com/YunoHost-Apps/my_webdav_ynh"
admindoc="https://github.com/YunoHost-Apps/my_webdav_ynh"
userdoc ="https://github.com/YunoHost-Apps/my_webdav_ynh"

[integration]
yunohost = ">= 11.2.0"
architectures = "all"
multi_instance = false
ldap = false
sso = true
disk = "1M"
ram.build = "100K"
ram.runtime = "100K"

[install]
    [install.domain]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "domain"

    [install.path]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "path"
    default = "/my_webdav"

    [install.init_main_permission]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    # This won't be saved as setting and will instead be used to initialize the SSOwat permission
    type = "group"
    default = "all_users"

[resources]
	# see https://yunohost.org/fr/packaging_apps_resources
    # See the packaging documentation for the full set
    # of explanation regarding the behavior and properties for each of those

    # [resources.install_dir]
    # This will create/remove the install dir as /var/www/$app
    # and store the corresponding setting $install_dir

    [resources.data_dir]
    # ATTENTION: risque de dysfonctionnement si le répertoire temporaire n'a pa l'accès en "rwx"
    subdirs = ['tmp']    
    owner = "www-data:rwx"
    group= "www-data:rwx"

    [resources.permissions]
    # This will configure SSOwat permission for $domain/$path/
    # The initial allowed group of user is configured via the init_main_permission question (public=visitors, private=all_users)
    main.url = "/"
	
