packaging_format = 2

id = "webdav"
name = "webdav"
description.en = "Configure your own Webdav server"
description.fr = "Configuration d'un serveur Webdav"

version = "1.0~ynh1"

maintainers = ["marc_flender"]

[upstream]
license = "GPL-3.0-only"
code = "https://github.com/Marc-Flender/webdav_ynh"
admindoc="https://github.com/Marc-Flender/webdav_ynh"
userdoc ="https://github.com/Marc-Flender/webdav_ynh"

[integration]
yunohost = ">= 11.2.0"
architectures = "all"
multi_instance = false
ldap = not_relevant
sso = true
disk = "1M"
ram.build = "100k"
ram.runtime = "100k"

[install]
    [install.domain]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "domain"

    [install.path]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    type = "path"
    default = "/webdav"

    [install.init_main_permission]
    # this is a generic question - ask strings are automatically handled by YunoHost's core
    # This won't be saved as setting and will instead be used to initialize the SSOwat permission
    type = "group"
    default = "all_users"

[resources]
	# see https://yunohost.org/fr/packaging_apps_resources
    # See the packaging documentation for the full set
    # of explanation regarding the behavior and properties for each of those

    # [resources.install_dir]
    # This will create/remove the install dir as /var/www/$app
    # and store the corresponding setting $install_dir
    
    [resources.data_dir]
    dir = "/home/yunohost.app/__APP__"
    subdirs = ['tmp']
    owner = "www-data"
    group= "www-data"

    [resources.permissions]
    # This will configure SSOwat permission for $domain/$path/
    # The initial allowed group of user is configured via the init_main_permission question (public=visitors, private=all_users)
    main.url = "/"
    show_tile="true"
    auth_header="true"
    allowed="all_users"
	
